* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto,Arial,sans-serif;
}
#navbar1 {
    background-color: #2370f4;
}

#submit1 {
    background-color: white;
    color: blue;
    width: 83px;
    height: 30px;
    font-size: 14px;
    margin-top: 14px;
    border-radius:4px;
}

.navbar-brand{
    margin-left:50px;
}
#navbarSupportedContent ul li a {
    color: white;
    margin-left: 79px;
    margin-top: 7%;
}

.brand {
    color: white;
    font-weight: 800;
    font-style: italic;
    margin-left: 75px;
}
.explore{
    color:white;
    font-size:11px;
}
.pluse {
    color: #ffe500;
    font-size: 18px;
    font-weight: 900;
    font-style: italic;
}
.search {
    width: 266px;
    height: 33px;
    margin-top: 13px;
}


#navbar2nd {
    /*//margin-left: 20px;*/
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.16);
}
    #navbar2nd ul li a {
        margin-left: 25px;
        color: black;
        line-height: 1.4;
        font-size: 15px;
        font-weight: 500;
    }


#main_container {
    margin-top: 89px;
}
.btn {
    padding: 12px 15px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    width: 85%;
    border: none;
    float: left;
    text-transform: uppercase;
    display: flex;
    font-size: 16px;
    font-weight: bold
}
.btn-primary {
   
    background: #ff9f00;
    color:white;
}
.btn-secondary {
    background: #fb641b;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    border: none;
    color: #fff;
}
.fa{

width: 30px;
height: 14px;
}
.fa-cart-plus{
    font-size:50px;
}
button {
    margin: 5px;
}
.information {
    padding: 0;
    line-height: 1.4;
    font-size: 17px;
    font-weight: inherit;
    color: #212121;
    display: inline-flex;
}

.part {
    font-weight: 600;
    font-size: 15px;
    padding-right: 4px;
    color: #212121;
}
.fa-tag{
    color:forestgreen;
}
.offer {
    font-size: 14px;
    color: #212121;
}
#offer1{
    margin-right:126px;
}
#offer2 {
    margin-right: 38%;
}
h4{
    margin-right:75%;
    font-size:20px;
}
.review a {
    font-size: 15px;
    margin-right: 64%;
  
}
.review {
    margin-top: 2%;
}
.price {
    margin-right: 68%;
    margin-top: 2%;
}
.price1 {
    font-weight: 500;
    color: #212121;
    font-size: 28px;
}
.price2 {
    font-size: 16px;
    margin-left: 12px;
    vertical-align: middle;
    color: #878787;
}
.price3 {
    font-size: 16px;
    font-weight: 500;
    color: #388e3c;
    margin-left: 12px;
}
.product-img {
    border: 1px solid #f0f0f0;
}
#Warrenty {
    font-weight: 500;
    padding-right: 10px;
    color: #878787;
    float: left;
    line-height: 2;
}
#col-war{
    margin-top:2%;
}
.fa-shopping-cart{
    font-size:30px;
}
