.container {
    width: 500px;
    background-image: linear-gradient(white, grey);
    box-shadow: 2px 7px 10px 3px #2d2121;
    border: 2px;
    margin-top: 50px;
}
body{
    color:black;
}
.btn {
    background-color: darkgray;
    border: 1px;
    box-shadow: -2px -2px 4px 2px;
    margin:10px;
    color:black;
    width:90px;

}