#para1{
    color:red;
    height:200px;
}

#para2 {
    color: green;
    height: 100px;
    background-color:aquamarine;
    font-size:20px;
}

#para3 {
    color: yellow;
    height: 200px;
    background-color:burlywood;

}
.middle_para{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
}
p{
    background-color:green;
}
#p1{
    font-size:20px;
    background-color:black !important;
}
body{
    background-color:aquamarine;
}